@import url(./variable.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;


#app {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  background-color: var(--vp-c-bg-alpha-with-backdrop);
}

.VPHome {
  //h1 {
  //  font-weight: 700;
  //  user-select: none;
  //  line-height: inherit;
  //  background: -webkit-linear-gradient(120deg, #bd34fe 0%, #49cbfe 100%);
  //  background-size: 100%;
  //  -webkit-background-clip: text;
  //  -moz-background-clip: text;
  //  background-clip: text;
  //  -webkit-text-fill-color: transparent;
  //  -moz-text-fill-color: transparent;
  //}
}

.VPHome h2 {
  color: var(--vp-c-brand-dark);
}

.DocSearch-Button {
  border-color: var(--vp-c-brand-dark);
}

.VPDoc {
  .vp-doc {
    h1 {
      display: none;
    }

    h2 {
      margin-top: 0;
      border-top: none;
    }

    p {
      text-align: justify;
    }

    :not(pre) > code {
      color: var(--vp-c-text);
      background-color: #d6d6d6;
    }

    a {
      text-decoration: underline;
      color: var(--vp-c-brand-dark);
    }

    .header-anchor {
      color: var(--vp-c-brand-dark);
    }
  }
}

.dark {
  .VPNavBarMenuLink {
    &.active {
      color: var(--vp-c-brand-lighter);
    }

    &:hover {
      color: var(--vp-c-brand-lighter);
    }
  }

  .DocSearch-Button,
  .search-bar {
    border-color: var(--vp-c-brand-lighter) !important;
  }

  .VPDoc .vp-doc {
    h2 {
      color: var(--vp-c-brand-lighter);
    }

    .header-anchor {
      color: var(--vp-c-brand-lighter);
    }

    a {
      color: var(--vp-c-brand-lighter);
    }

    :not(pre) > code {
      color: var(--vp-c-text);
      background-color: #727283;
      // background-color: #d6d6d6;
    }
  }

  .copyright {
    a {
      color: var(--vp-c-brand-lighter);
    }
  }
}

.VPLocalNavOutlineDropdown {
  display: none !important;
}
